
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

input#searchField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.data-cell {
  flex: 1;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

button.edit, button.delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  outline: none;
}

button.delete {
  margin-left: 8px;
}
/* Container for the header row */
.header-row {
  display: flex;
  justify-content: flex-start; /* Adjust this to match the alignment of data rows */
}

/* Individual header cells */
.header-cell {
    display: flex;
    align-items: initial;
    margin-right: 98px;
}

/* Sort buttons */
.sort-btn {
  border: none;
  background: none;
  font-size: 0.8rem;
  cursor: pointer;
}
