
/* root variables */


/* body */

body {
  font-family: "Flama medium",sans-serif;
    color:black;
    background-color: rgb(166, 213, 243);
    border: 10px;
    /* height: 100%; */
}

/* NAVIGATION */

/* styling of nav-bar */
nav {
    display: grid;
    position: center;
    text-align: center;
    border-radius: 25px;
}

/* columns for nav-bar */
@media (min-width: 700px) {
    nav {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* styling of links nav-bar */
nav a {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 15px 5px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
}

/* color when hovering nav-bar */
nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

/* color of active link */
nav a.active {
    background-color: rgb(0, 0, 0);
    color: rgb(241, 241, 241);
    border-radius: 25px;
}

/* show content class */
.show-content {
    display: none;
    padding: 286px 2em;
}

/* how the show-content class is shown */
@media (min-width: 700px) {
    .show-content {
        padding: 65px 1em;
    }
}

/* shows the content active link */
.show-content.active {
    display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

input#searchField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.data-cell {
  flex: 1;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

button.edit, button.delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  outline: none;
}

button.delete {
  margin-left: 8px;

}

/* Container for the header row */
.header-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
}

/* Individual header cells */
.header-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.Fødselsdag {
  display: flex;
  justify-content: space-between;
  align-items: 10px;
  margin-right: 45px;
}

/* Sort buttons */
.sort-btn {
  border: none;
  background: none;
  font-size: 0.8rem;
  cursor: pointer;
}

/* dialogs */

#form-update-medlem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 2em;
}

#page-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#page-buttons button {
  margin: 0.5em;
}
